<div class="sidebar" id="sidebar">
    <ul class="nav flex-column mt-4">
        <li class="nav-item mb-2">
            <a href="{% url 'vista_general_recos' %}" class="nav-link text-white d-flex align-items-center">
                <i class="bi bi-lightning-charge-fill me-2"></i> Recos
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white d-flex align-items-center">
                <i class="bi bi-truck me-2"></i> Unidad Móvil
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white d-flex align-items-center">
                <i class="bi bi-person-circle me-2"></i> Perfil
            </a>
        </li>
    </ul>
</div>
